<!-->
value="https://www.npmjs.com/package/ng-qrcode" 
size="300"
darkColor= "#000000"
lightColor= "#ff3300"
errorCorrectionLevel="M"
style: { [klass: string]: any; } (optional)
styleClass: string (optional)
centerImageSrc="undefined"
centerImageSize="undefined"
[margin]="4">    
-->


<qr-code value="https://www.npmjs.com/package/ng-qrcode" 
         size="300"
         darkColor= "#000000" 
         lightColor= "#ff3300" 
         errorCorrectionLevel="M"
         centerImageSrc="undefined"
         centerImageSize="undefined"
         [margin]="4"
>    
</qr-code>