<!-->
https://www.npmjs.com/package/ng-qrcode#errorcorrectionlevel-string-optional
value="https://www.npmjs.com/package/ng-qrcode" 
size="300"
darkColor= "#000000"
lightColor= "#ff3300"
errorCorrectionLevel="M"
style: { [klass: string]: any; } (optional)
styleClass: string (optional)
centerImageSrc="undefined"
centerImageSize="undefined"
[margin]="4">    

errorcorrection imagesize
H 96
m 58
errorcorrection levels
S M Q H 
-->


<qr-code value="https://demostrador.fic.udc.es" 
         size="300"
         darkColor= "#326e75" 
         lightColor= "#ffffff" 
         errorCorrectionLevel="M"
         centerImageSrc="ficlogo.png"
         centerImageSize="58"
         [margin]="4"
>    
</qr-code>
<qr-code value="https://demostrador.fic.udc.es" 
         size="300"
         darkColor= "#000000" 
         lightColor= "#ffffff" 
         errorCorrectionLevel="M"
         [margin]="4"
>    
</qr-code>
